/*tout*/
*{
    margin: 0%;
    padding: 0ch;
}
a{
    text-decoration: none;
}

/*header*/
header{
    height: 40px;
    background-color: #333333;
    

}

header ul li {

    float: left;
    margin-top: 10px;
}
header ul li a {
    color: white;
    margin-right: 40px;
    padding-right: 10px;
}
.data{
    height: 300px;
    color: white;
    background-color: #1e93cc;
    background-image: url(homme.jpg);
    background-repeat: no-repeat;
    
}

#plug{

    text-align: center;
    padding-top: 100px;
}

.button-1{

    display: block;
    width:200px;
    height: 60px;
    background-color: #e99002;
    color: white;
    text-align: center;
    margin: auto;
    border: solid 2px white;
    border-radius: 5px;
    padding-top: 10px;
}
.lef{
    background-color:#1e93cc;
    height: 300px;
    width: 1400px;
    color: white;
}
.for{
    height: 60px;
    text-align: center;
    margin: auto;
    padding-top: 40px;
}

.user{
    height: 300px;
    width: 400px;
    float: left;
    padding-left: 150px;
    padding-top: 50px;
    
    
    
}

.for1{
   height: 300px;
   width: 400px;
   float: right;
   padding-right: 150px;
   padding-top: 50px;
   
   
   
}


.use{
    display: block;
    background-color: #1e93cc;
    height: 300px;
    color: white;
  
}

.inn{
    height: 60px;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    clear: both;
}

.im img{
    width: 1348px;
}

.bt{
    height: 150px;
}
.button-2{
    display: block;
    background-color: rgb(21, 21, 88);
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.button-3{
    display: block;
    background-color: rgb(21, 21, 88);
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.button-4{
    display: block;
    background-color: #e99002;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

footer{
    height: 40px;
    background-color: #333333;
}

footer ul li {
    float: left;
    margin-top: 10px;
}
footer ul li a {
    color: white;
    margin-right: 40px;
    padding-right: 10px;
}
.foot{
    color: white;
    text-align: right;
    padding-top: 15px;
}